<header class="l-header">
    <nav class="c-nav">
      <ul class="c-list">
        <li class="c-item"><a href="/index.html">HOME</a></li>
        <li class="c-item"><a href="/access.html">ACCESS</a></li>
      </ul>
    </nav>
  </header>
