<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HOME</title>
</head>
<body>
  <% include src/ejs/templates/_head %>
  <main class="l-main">
    <h1>HOME</h1>
      <img src="src/images/logo.png" alt="">
  </main>
  <% include src/ejs/templates/_foot %>
</body>
</html>
